@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


h1 {
  margin-top: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
}

input,
textarea {
  min-height: 50px;
  border-radius: 5px;
  border: none;
  background: $_GREY_5;
  border-bottom: 1px solid $_GREY_10;
  padding: 20px;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;

  &:focus {
    outline: none
  }
}

@mixin button-skeleton {
  border-radius: 5px;
  height: 55px;
  min-width: 80px;
  padding: 0px 40px;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .15s ease-in-out;
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

button {
  @include button-skeleton();

  &.button-primary {
    background: $_PRIMARY_COLOR;
    color: #fff;

    &:hover {
      opacity: .6;
    }
  }
}