@import 'variables';


.main {
  text-align: center;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;

  .post-wrapper {
    margin-bottom: 30px;
    flex-grow: 1;
    width: calc(50% - 15px);

    &:nth-child(odd) {
      margin-right: 15px;
    }

    &:nth-child(even) {
      margin-left: 15px;
    }
  }
}

.subtitle {
  a {
    color: $_PRIMARY_COLOR;
    transition: all ease-out .15s;

    &:hover {
      opacity: .6;
    }
  }
}