@import 'variables';

.container {
  padding: 30px;
  min-height: calc(100vh - 154px);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex: 1;
  height: 80px;
  padding: 20px;
  border-top: 1px solid $_GREY_10;
  justify-content: center;
  align-items: center;
  background: $_GREY_40;
  color: #fff;
}